<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About us</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/abt.css' %}">
</head>
<body>
	 <div class="about-section">
  <h1>Strategic Inventory Management and Product placement recommendation system</h1>
  <p>This project aids shop owners in optimizing inventory management and product placement strategies. By analyzing customer preferences and employing recommendation systems, it offers valuable insights into which products to stock and where to place them, enhancing overall store efficiency and profitability</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="{% static 'images/Shrisha.jpeg' %}" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Shrisha Udupa</h2>
        <p>12082002srishaudupa@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'images/lithinn.jpeg' %}" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Lithin Reddy</h2>
        <p>lithin.j288@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'images/file.enc' %}" alt="Mike" style="width:100%">
      <div class="container">
        <h2>M Darshan</h2>
        <p>mdarshan179@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'images/rohan.jpg' %}" alt="John" style="width:100%">
      <div class="container">
        <h2>Rohan K Manjunath</h2>
        <p>kmrohan27@gmail.com</p>
      </div>
    </div>
  </div>
</div> 

</body>
</html>