<!-- display_inventory.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVENTORY</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/inventory.css' %}">
</head>
<body>
    <h1>INVENTORY</h1>
    <nav>
        <ul>
            <li><a href="/homepage/">HomePage</a></li>
            <!-- Add more navigation links as needed -->
        </ul>
    </nav>


    <table border="3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price (INR)</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Select to Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td class="update">
                    <form method="POST" action="{% url 'inventory' %}">
                        {% csrf_token %}
                        <input type="number" class="value2-input" name="number_{{ product.id }}" value="" min="1"/>
                        <input type="hidden" name="product_id_{{ product.id }}" value="{{ product.id }}">
                        <input type="submit" value="Update">
</form>
                </td>
                <td>{{ product.prototal }}</td> <!-- Display the calculated total price for each product -->
                <td>
                    <form method="POST" action="{% url 'delete' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <input type="hidden" name="name{{ product.id }}" value="{{ product.name }}">
                        <input type="hidden" name="price{{ product.id }}" value="{{ product.price }}">
                        <input type="checkbox" name="selected_products" value="{{ product.id }}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <a class="pay" href="{% url 'payment' %}">Payment</a>

    </table>
<div class="rectangle">
    Total Price: {{ total_price }}
</div>
    <script src="{% static 'js/table.js' %}"></script>

</body>
</html>
