<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newly Added Product Details</title>
</head>
<body>
    <h1>Newly Added Product Details</h1>
    <ul>
        <li><strong>Name:</strong> {{ added_product.name }}</li>
        <li><strong>Price:</strong> {{ added_product.price }}</li>
        <!-- Add more details as needed -->
    </ul>
</body>
</html>
