IPython: 8.14.0
Scikit-learn: 1.2.2
Scipy: 1.10.1
Plotly: 5.14.1
Django: 4.2.5
Opencv-python-headless: 4.8.0
Numpy: 1.24.3
Keras: 2.11.0
Matplotlib: 3.7.1
Seaborn: 0.12.2
Tqdm: 4.65.0
Tensorflow: 2.12.0
Pillow: 9.5.0
Pandas: 2.0.2
Gunicorn: 20.1.0
