body {
    font-family: Arial, sans-serif;
    background-image: url('/static/images/pocket.jpg'); /* Add background image */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav {
    position: fixed; /* Fixed position so it stays at the top */
    top: 0;
    left: 0;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    border-bottom-right-radius: 30px; /* Rounded corners for the bottom right */
    box-shadow: 0 4px 8px rgba(0, 0, 6, 0.1); /* Soft shadow */
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px; /* Add some spacing between links */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}

.container {
    background-color: white;
    border-radius: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 6, 1);
    padding: 50px;
    width: 400px;
    max-width: 90%;
}
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    text-align: center;
}
input[type="file"] {
    display: none;
}
label {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
label:hover {
    background-color: #0056b3;
}
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
